<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Blogging APP</title>
    <%- include('./partials/style') %>
</head>
<body>
    <%- include('./partials/nav') %>
    <%- include('./partials/script') %>
</body>
</html>